#weather-forecast {
    display: flex;
    justify-content: space-evenly;
}

.highhigh {
    background-color: red;
}

.highlow {
    background-color: lightblue;
}

.high {
    background-color: darkred;
    color: #FFF;
}

.low {
    background-color: darkblue;
    color: #FFF;
}